@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
}

.container {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}

.text {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}
