.contact {
    background-color: #f7a154;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }

    &__info {
        --columns: 2;
        --gap: 20px;
        display: grid;
        grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
        grid-gap: var(--gap);
        transform: translateX(50px);

        &-item {
            background-color: #fff;
            text-align: center;
            padding: 20px;

            .icon {
                font-size: 30px;
                color: #84d7dd;
                margin-bottom: 5px;
            }

            .heading {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            .text {
                color: #777;
            }
        }
    }

    &__form {
        background-color: #3b636f;
        flex: 1;
        padding: 80px;

        &-main {
            max-width: 350px;
            margin: 0 auto;
            text-align: center;
        }

        &-heading {
            font-size: 40px;
            text-align: center;
            color: white;
            margin-bottom: 10px;
        }

        &-input {
            width: 100%;
            outline: none;
            margin-bottom: 15px;
            padding: 5px 10px;
        }

        &-btn {
            border: 1px solid white;
            background-color: #3b636f;
            color: #f7a154;
            padding: 5px 15px;
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .contact__container {
        flex-direction: column-reverse;
    }

    .contact__info {
        transform: none;
        margin-top: 30px;
        width: 100%;
    }

    .contact__form {
        width: 100%;
        padding: 50px;
    }
}

@media screen and (max-width: 540px) {
    .contact__info {
        --columns: 1;

        &-item {
            width: 100%;
        }
    }

    .contact__form {
        padding: 30px;

        &-heading {
            font-size: 25px;
        }
    }
}
