.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        gap: 0 20px;
        list-style: none;
        padding: 0;
    }

    &__item {
        position: relative;
        border: 1px solid transparent;
        transition: border 0.1s linear;

        a {
            display: block;
            padding: 5px 15px;
            color: #333;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover {
            border-color: #2cccff;
        }

        &:hover .header__submenu {
            opacity: 1;
            visibility: visible;
        }
    }

    &__submenu {
        position: absolute;
        list-style: none;
        top: 105%;
        left: 0;
        padding: 0;
        background-color: #fafafa;

        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        z-index: 9;
    }

    &__subitem {
        a {
            display: block;
            padding: 5px 10px;
            width: max-content;
        }

        &:hover {
            background-color: #eee;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 0 15px;

        i {
            cursor: pointer;
            font-size: 20px;
        }

        .fa-facebook {
            color: #4267b2;
        }

        .fa-twitter {
            color: #1da1f2;
        }

        .fa-instagram {
            color: #e1306c;
        }
    }

    &__btn-bars,
    &__btn-close {
        display: none;
    }
}

@media screen and (max-width: 1023.98px) {
    .header__menu {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        min-width: 300px;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px 0;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin: 0;
        padding: 50px;
        z-index: 9999;
        transition: all 0.2s linear;

        &.active {
            right: 0;
        }
    }

    .header__submenu {
        right: 0;
        left: auto;
    }

    .header__btn-close {
        display: block;
        font-size: 20px;
        background-color: #eee;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        cursor: pointer;

        position: absolute;
        right: 20px;
        top: 20px;
        transition: all 0.2s linear;

        &:hover {
            background-color: #ddd;
        }
    }

    .header__btn-bars {
        display: block;
        font-size: 30px;
        cursor: pointer;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 767.98px) {
}
